<div class="img-box">
    <a class="body-text text-dark text-decoration-none" href="/tours"> 
      <div class="card">
        <img 
          src="<%= destination.image %>"
          class="card-img-top img-fluid"
          alt="<%= destination.name %>"
        />
        <div class="card-title">
          <%= destination.name %>
        </div>
        <span class="tours"><%= destination.tours %></span>
      </div>
    </a>
  </div>