<section class="features">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center mb-4">Our Features</h2>
        </div>
  
        <div class="col-md-3 col-sm-6 feature-item">
          <img src="/images/feature/feature1.png" alt="Feature 1" class="img-fluid mb-3">
          <h3 class="text-center">Discover Destinations</h3>
          <p class="text-center">
            Explore countless destinations and discover the best places to visit for your next trip.
          </p>
        </div>
  
        <div class="col-md-3 col-sm-6 feature-item">
          <img src="/images/feature/feature2.png" alt="Feature 2" class="img-fluid mb-3">
          <h3 class="text-center">Affordable Deals</h3>
          <p class="text-center">
            Find the best travel deals and packages at affordable prices.
          </p>
        </div>
  
        <div class="col-md-3 col-sm-6 feature-item">
          <img src="/images/feature/feature3.png" alt="Feature 3" class="img-fluid mb-3">
          <h3 class="text-center">Customized Plans</h3>
          <p class="text-center">
            Create customized travel itineraries tailored to your preferences.
          </p>
        </div>
  
        <div class="col-md-3 col-sm-6 feature-item">
          <img src="/images/feature/feature4.png" alt="Feature 4" class="img-fluid mb-3">
          <h3 class="text-center">Trusted Support</h3>
          <p class="text-center">
            Get 24/7 support from our trusted travel experts at every step.
          </p>
        </div>
      </div>
    </div>
  </section>
  