<section class="box-search-advance">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="box-search shadow-sm">
            <div class="item-search">
              <label class="item-search-label">Location</label>
              <select>
                <option value="hampi">Hampi</option>
                <option value="ooty">Ooty</option>
              </select>
            </div>
            <div class="item-search item-search-2">
              <label class="item-search-label">Check-in</label>
              <input type="date">
            </div>
            <div class="item-search item-search-2">
              <label class="item-search-label">Check-out</label>
              <input type="date">
            </div>
            <div class="item-search bd-none">
              <label class="item-search-label">Guest</label>
              <select>
                <option>2 adults, 1 child</option>
                <option>2 adults, 2 children</option>
              </select>
            </div>
            <div class="item-search bd-none">
              <button class="primaryBtn">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  